<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
            thead, th {display:none;}
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center jumbotron">
                    <h1>Mission to Mars</h1>
                    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
                </div>
            </div>
        
            <!-- Mars Data List -->
        <div class="row">
            <div class="col-md-12">
                <h4 class="heading">Latest Mars News </h4>
                <p>{{listings.news_title}}</p>
                <p>{{listings.news_p}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Featured Mars Image</h2>
                <img src="{{listings.featured_image_url}}" class="img-responsive img-fluid float-left">
            </div>
            <div class="col-md-4">
                <p>{{listings.mars_weather}}</p>
                {{listings.html_table|safe}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Mars Hemispheres</h2>
            </div>
        </div>
        <div class='row'>
                {% for list in listings.hemisphere_img_dict %}
                <div class="col-md-6">
                <figure>
                    <img src="{{list.img_url}}" alt="Mars Hemisphere Image" style="width:100%" class="img-fluid float-left">
                    <figcaption>{{list.title}}</figcaption>
                </figure>
                </div>
                {% endfor %}
        </div>
        
    </div>
</body>

</html>


